.button-configurator
	position: fixed
	top: 0
	right: 0
	background: #222222
	height: 100%
	width: 350px
	font-family: 'Ubuntu'
	color: #ffffff
	padding: 0 5px
	.button-configurator-title
		padding: 10px 0
		text-align: center
		font-size: 18pt
	.button-configurator-subtitle
		padding: 10px 0
		text-align: center
		font-size: 14pt
	.button-configurator-row
		margin: 10px 0
		label
			margin-left: 5px
