.button-configurator
	position: fixed
	top: 0
	right: 0
	padding: 0 10px
	width: 350px
	height: 100%
	background: #222222
	font-family: 'Ubuntu'
	text-align: center
	color: #ffffff
	&.idle
		justify-content: center
		align-items: center
		display: flex
	.button-configurator-title
		padding: 10px 0
		font-size: 18pt
	.button-configurator-subtitle
		padding: 10px 0
		font-size: 14pt
	.button-configurator-row
		flex-direction: row
		align-items: center
		justify-content: space-between
		display: flex
		margin: 10px 0
	input[type='color']
		cursor: pointer