.pad-button
	box-sizing: border-box
	align-items: center
	justify-content: center
	display: inline-flex
	margin: 8px
	width: 78px
	height: 78px
	border-radius: 6px
	background: #aaaaaa
	cursor: pointer
	.pad-button-label
		font: 10pt monospace
		user-select: none
	&.selected
		border: 4px solid aqua
		