.progress-indicator
	position: absolute
	bottom: 10px
	width: 85%
	height: 3px
	border-radius: 10em
	background: #FFFFFF90
	overflow: hidden
	.progress-indicator-inner
		position: absolute
		height: 100%
		background: #FFFFFF
		border-radius: 10em

@keyframes progressing
	0%
		width: 0
	100%
		width: 100%
